In [1]:
lovers = ["Sue", "Margie", "Lily"]
for lover in lovers:
    print(f"{lover.title()}, I love you")

Sue, I love you
Margie, I love you
Lily, I love you

In [2]:
# 用range创建列表
numbers =  list(range(1,6))
numbers

[1, 2, 3, 4, 5]

In [3]:
even_numbers = list(range(2, 11, 2))
even_numbers

[2, 4, 6, 8, 10]

In [5]:
squares = [value **2 for value in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# 切片
players = ["Charlie", "Bob", "Michael", "Lee", "Lily"]
print(players[0:2])

['Charlie', 'Bob']

In [7]:
print(players[:4])

['Charlie', 'Bob', 'Michael', 'Lee']

In [8]:
print(players[2:])

['Michael', 'Lee', 'Lily']

In [9]:
# 复制列表
my_friends = players[:]
my_friends

['Charlie', 'Bob', 'Michael', 'Lee', 'Lily']

<b>列表里的值是可以修改的， 但是元组里的值不可以

In [10]:
dimensions = (200,5)
for dimension in dimensions:
    print(dimension)

200
5